@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --text: oklch(20.94% 0.038 219.53);
  --background: oklch(97.84% 0.015 315.97);
  --primary: oklch(74.26% 0.155 305.33);
  --secondary: oklch(97.07% 0.092 119.09);
  --accent: oklch(94.98% 0.072 92.67);
  
  /* Font Weight System */
  --font-regular: 'Satoshi-Regular', sans-serif;
  --font-medium: 'Satoshi-Medium', sans-serif;
  --font-bold: 'Satoshi-Bold', sans-serif;
  --font-black: 'Satoshi-Black', sans-serif;
}

.dark {
  --text: oklch(95.83% 0.031 216.80);
  --background: oklch(9.37% 0.045 319.87);
  --primary: oklch(29.85% 0.155 296.80);
  --secondary: oklch(37.05% 0.091 123.01);
  --accent: oklch(34.46% 0.070 90.56);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--text);
  --font-satoshi: var(--font-satoshi);
}


body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-satoshi), sans-serif;
}

/* Type Scale (1.618: Golden Ratio) */
html {
  font-size: 100%;
}

h1 {
  font-size: 11.090rem;
}

h2 {
  font-size: 6.854rem;
}

h3 {
  font-size: 4.236rem;
}

h4 {
  font-size: 2.618rem;
}

h5 {
  font-size: 1.618rem;
}

small {
  font-size: 0.618rem;
}